/* MEDIA QUERIES */
@media(max-width: 1024px){
    
    .container-facial{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        .tarjetaTexto{
        font-size: 18px;
        width: auto;
        }
        .tarjetaFacial{
            img {
                width: auto;
            } 
        }
    .container-tnc{
        grid-template-columns: 1fr;
        row-gap: 50px;
        }
        .tnc p{
            font-size: 20px;
        }
        .logo2{
            width: 250px;
            height: 250px;
        }
    .form{
        margin: 10px 10px 50px 10px;
        width: auto;
        height: 750px;
            display: flex;
        flex-wrap: wrap;
    }
        
}
@media(max-width: 1048px){
    
    .tarjetaTexto p{
        font-size: 16px;
        }
    .tarjetaFacial {
        width: auto;
        }
        
}
        
@media(max-width: 858px){
    .checkbtn{
         display:block;
        }
    
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 1px;
        }
        nav ul li a{
            font-size: 20px;
        }
        li a:hover, li a.active{
            background: none;
            color:#6b2a2a;
        }
        #check:checked ~ ul{
            left:0;
        }
}    
@media (max-width:768px){
    .navbar-brand{
        display: none;
    }
    .container-tnc{
        row-gap: 70px;
    }
    .servicios{
        width: 100%;
        height: 2350px;
        .container-facial{
            grid-template-columns: 1fr;
            grid-template-rows: 250px 350px 170px 330px 250px 330px 150px 270px;
            .tarjetaFacial{
                text-align: center;
                img{
                height: 300px;
                width: 600px;
                }
            } 
        }
    }
    .masajes{
        height: 1800px;
        .container-facial{
            height: 600px;
            grid-template-columns: 1fr;
            grid-template-rows: 180px 350px 170px 330px 150px 330px 150px 270px;
            .tarjetaFacial{
                text-align: center;
                img{
                    height: 300px;
                    width: 600px;
                }   
            } 
        }
    }
    .portadaPromociones .titulo-principalp{
        margin-left: 100px;
    }
    .form{
        margin: 50px 50px 50px 50px;
        justify-content: center;
        .imgContacto{
            padding: 30px 5px 5px 5px;
            justify-content: center;
            div{
                width: 200px;
            }
        }
    }
}
@media(max-width: 526px){
    nav ul{
        width:200px;
        li a{
            font-size: 16px;
        }
    }
    .bienvenida{
        height: 700px;
        align-content: start;
        .imagenesBienvenida{
            display: flex;
            flex-wrap: wrap;
            margin: 10px 70px;
            width: 320px;
            height: 30px;
            img{
                width: 80px;
                height: 280px;
            }
        }
        .textoBienvenida{
            margin-top: 250px;
            .btnEquipo{
                font-size: 15px;
                width: 250px;
                height: 40px;
            }
        }
    }
    .textoPortada{ 
        h1{
            padding-left: 30px;
        }
        h2{
            padding-left: 10px;
        }
        h3{
            padding-left: 30px;
        }
    }    
    .footerc{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .footer2 p{
            font-size: 14px;
        }
        .redes img{
            width: 30px;
            height: 30px;
            margin-top: 20px;
        }
    }
    .container-tnc{
        flex-direction: column;
        grid-template-rows: 300px;
        .logo2{
            width: 150px;
            height: 150px;
        }
        p{
            font-size: 16px;
        }
    }
    .servicios{
        height: 2200px;
        .container-facial{
            grid-template-columns: 1fr;
            grid-template-rows: 250px 300px 200px 270px 230px 280px 230px 300px;
            .tarjetaFacial{
                width: 50px;
                text-align: center;
                img{
                    height: 250px;
                    width: 450px;
                }
            }
        } 
    }
    .masajes{
        height: 1800px;
    }
    .form{
        margin: 30px 10px 50px 30px;
        width: 470px;
        height: 750px;
        display: flex;
        flex-wrap: wrap;
        .imgContacto{
            div{   
            width: 150px;
                img{
                    width: 70px;
                    height: 70px;
                }
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .mapa iframe{
        width: 450px;
        height: 150px;
    }
}

@media (max-width:320px){
    .bienvenida{
        height: 1000px;
        .textoBienvenida{
            margin-top: 550px;
        }
    }
    .servicios{
        height: 2300px;
        .container-facial{
            grid-template-columns: 1fr;
            grid-template-rows: 350px 200px 250px 200px 350px 200px 350px 300px;
            .tarjetaFacial{
                width: 50px;
                text-align: center;
                img{
                    height: 150px;
                    width: 250px;
                }
            }
        } 
    }
    .masajes{
        height: 1850px;
        .container-facial{
            grid-template-rows: 350px 200px 300px 200px 350px 200px 350px 200px;
        }
    }
    .portadaPromociones .titulo-principalp{
        margin-left: 40px;
    }
    .portadaCorporales h1{
        font-size: 35px;
    }
    .form{
        margin: 5px 10px 50px 10px;
        width: 300px;
        height: 950px;
        display: flex;
        flex-wrap: wrap;
        .form-register{
            margin: 10px 20px 10px 10px;
        }
        .imgContactodiv{
            img{
                width: 50px;
                height: 50px;
            }
            h2{
                font-size: 1px;
            }
            p{
                font-size: 16px;
            }
        }
            
    }
    .mapa iframe{
        width: 300px;
        height: 150px;
    }
    .portadaContacto div h1{
        font-size: 35px;
    }
}