.servicios{
    background-color: $bg-color;
    .container-facial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        @media (max-width:858px){
            grid-template-columns: 1fr;
            grid-template-rows: 250px 1fr 250px 1fr 250px 1fr 200px 1fr;
            row-gap: 0px;
        }
        @media (max-width:467px){
            grid-template-rows: 300px 1fr 300px 1fr 250px 1fr 200px 1fr;
        }
        @media (max-width:383px){
            grid-template-rows: 330px 1fr 340px 1fr 280px 1fr 220px 1fr;
        }
        @media (max-width:341px){
            grid-template-rows: 350px 1fr 370px 1fr 320px 1fr 280px 1fr;
        }
        .tarjetaFacial{
            padding: 10px 30px;
            img{
                @include imagen(550px,330px,center);
                @media (max-width:1018px){
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }
            }
        }
        .tarjetaTexto{
            padding: 10px 50px;
            font-size: 20px;
            text-align: justify;
            @media (max-width:858px){
                font-size: 18px;
            }
            @media (max-width:568px){
                font-size: 16px;
            }
            h2{
                padding-bottom: 10px;
                text-align: center;
            }
        }
    }
    h3{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }
    .masajes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        @media (max-width:858px){
            grid-template-columns: 1fr;
            grid-template-rows: 250px 1fr 200px 1fr 200px 1fr;
            row-gap: 0px;
        }
        @media (max-width:487px){
            grid-template-rows: 270px 1fr 220px 1fr 220px 1fr;
        }
        @media (max-width:425px){
            grid-template-rows: 270px 1fr 250px 1fr 250px 1fr;
        }
        @media (max-width:341px){
            grid-template-rows: 320px 1fr 320px 1fr 320px 1fr;
        }
        @media (max-width:320px){
            grid-template-rows: 360px 1fr 320px 1fr 320px 1fr;
        }
    }
}
