.servicios{
    background-color: $bg-color;
    .container-facial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        @media (max-width:858px){
            grid-template-columns: 1fr;
            grid-template-rows: 250px 1fr 250px 1fr 250px 1fr 200px 1fr;
            row-gap: 0px;
        }
        @media (max-width:467px){
            grid-template-rows: 300px 1fr 300px 1fr 250px 1fr 200px 1fr;
        }
        @media (max-width:383px){
            grid-template-rows: 330px 1fr 340px 1fr 280px 1fr 220px 1fr;
        }
        @media (max-width:341px){
            grid-template-rows: 350px 1fr 370px 1fr 320px 1fr 250px 1fr;
        }
        .tarjetaFacial{
            padding: 10px 30px;
            
            img{
                @include imagen(550px,330px,center);
                @media (max-width:1018px){
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }
                
            }
        }
        .tarjetaTexto{
            padding: 10px 50px;
            font-size: 20px;
            text-align: justify;
            @media (max-width:858px){
                font-size: 18px;
            }
            @media (max-width:568px){
                font-size: 16px;
            }
            h2{
                padding-bottom: 10px;
                text-align: center;
            }
        }
    }
    h3{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }
    .masajes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px 400px;
        column-gap: 10px;
        row-gap: 10px;
    }
}
/*@media (max-width:768px){
     
        .tarjetaTexto p{
            width: 650px;
        }
        .tarjetaTexto h2{
            width: 650px;
        }
        .tarjetaFacial{
            img{
                height: 300px;
                width: 600px;
                margin-left: 60px;
            }   
        } 
        
    }
    .masajes{
            height: 1800px;
    }

@media(max-width: 526px){
    .servicios{
        height: 2550px;
        .container-facial{
            grid-template-columns: 1fr;
            grid-template-rows: 350px 300px 320px 300px 270px 290px 230px 300px;
            .tarjetaFacial{
                width: 50px;
                text-align: center;
                img{
                    height: 250px;
                    width: 400px;
                    margin: 20px;
                }
            }
            .tarjetaTexto p{
                width: 400px;
            }
            .tarjetaTexto h2{
                width: 400px;
            }
        } 
    }
}
@media(max-width: 526px){
    .serviciosm{ 
        height: 2000px;
        .masajes{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 250px 300px 270px 290px;
            
        
    }
}
}
@media (max-width:320px){
    .servicios{
        height: 2300px;
        .container-facial{
            width: 300px;
            grid-template-columns: 1fr;
            grid-template-rows: 350px 200px 370px 200px 300px 180px 300px 300px;
            .tarjetaFacial{
                width: 50px;
                text-align: center;
                img{
                    height: 150px;
                    width: 250px;
                    margin: 10px;
                }
            }
            .tarjetaTexto{
                width: 200px;
                margin-left:5px;
            }
            .tarjetaTexto p{
                width: 220px;
                font-size: 16px;
                
            }
            .tarjetaTexto h2{
                width: 200px;
                
            }
        } 
    }
    
}
@media(max-width: 320px){
    .serviciosm{ 
        height: 1900px;
        .masajes{
        grid-template-columns: 1fr;
        grid-template-rows: 400px 200px 300px 200px 350px 290px;
        }
    }
}*/